[Unit]
Description=BISDN SWAN application
Requires=network.target

[Service]
Type=simple
User=rbbn
Group=rbbn
WorkingDirectory=/home/rbbn/swan
Environment=RAILS_ENV=production
Environment=RAILS_SERVE_STATIC_FILES=true
ExecStart=/usr/local/bin/bundle exec rails server
TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target
